

<div class="container" style="padding:5%">
   
    <h2>VERIFICATION</h2>
    <input type="text" name="userEnteredOtp" [(ngModel)]="userEnteredOtp" placeholder="Enter otp here.." maxlength="6" 
    style="width:300px">
    <br><br>
    <button class="btn btn-sm btn-success" type="submit" (click)="submitOTP()">Verify OTP</button>
    <br><br>
    @if(!isValid)
    {
        <h2 style="color:Red">{{message}}</h2>
    }
    @else{
        <h2 style="color:Green">OTP sent to your email {{emailIdValid}}</h2>
    }
    
    <!-- <p>valid-component works!</p> -->
</div>
